body, input{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 32;
}

body {
  background: #F0F0FF;
  text-align: center;
}

h1 {
  color: #404040;
}

.disabled {
  opacity: 0.05;
}

input {
  /* Based on dropzone.css */
  border: 1px solid rgba(0,0,0,0.03);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0,0,0,0.03);
  padding: 23px;
}
